<script lang="ts">
  // export let segment: string
</script>

<style>
  main {
    margin: auto;
    padding: 10vw;
    max-width: 900px;
    min-height: 800px;
  }

  @media only screen and (max-width: 600px) {
    main {
      min-height: 1000px;
    }
  }

  footer {
    margin: 1vw 10vw;
    text-align: right;
  }

  :global(body.dark) {
    --backgroundColor: var(--blueBlack);
    --textColor: var(--white);
  }
</style>

<main>
  <slot />
</main>

<footer>
  <p>Developed with 🔬 by OliverViking and Miami Autumn</p>
  <a href="https://gitlab.com/open-map-community/contact-compass">
    Source code available on GitLab
  </a>
  <i class="fa fa-gitlab" aria-hidden="true" />
</footer>
